/*
CSS 
web o pagina: https://raquelcasher.github.io/CMV-publico/ejer1.html
autor: Raquel Castellano Hernández
fecha: 14-5-2021
RECORDAR: En caso de conflictos se aplica el estilo que se define último,
o sea al final de este archivo o en la misma pagina html

*/
* {
	box-sizing:border-box;
  	margin:0px;
}
body {
	background-image:url("fondo.jpg");
}

h1 {
	color: #ffffff; 
	font-size: 62px; 
	text-align: center; 
	text-transform: uppercase; 
}
footer {
	color:white;
}

div {
    text-align: center;

}
.contenedor{
	position: relative;
	top: 0px;
	left: 0px;
}
		/*Se recorta lo que se ve de la imagen objet-fit*/
.imagen {
	width: 100%; 
	object-fit: cover;
}

.pieFoto{
	position: absolute;
	bottom: 0px;
	color:white;
	left: 0px;
}
figure {
  width:33%;
  height:auto;
  display: inline-block;


}
/*Responsive de las imagenes*/
@media screen and (max-width: 900px) {
	figure {
		height:auto;
		display: block;
		margin: auto;
		margin-bottom: 65px;
	}		
}
.cuadricula{
	box-shadow: 30px 30px 30px rgba(255,0,0,0.5); 
	border-radius: 20px;  
	background-color:#ddd;
	width:200px;
	padding:10px;
}
.fuente{
	font-family: 'KoHo', sans-serif;
}
.fuente::first-letter{
	font-size: 400%;
}
.scrollmenu {
	display: flex;
	justify-content: center;
	color: white;
	padding: 3px;
	text-decoration: none;
}
.ki {
	background-color:#FAFAFA;
	color:#fff;
	padding:10px 10px;
	display: inline-block;
	text-transform: uppercase;
}	

.ki:hover{
	font-size:25px;
	background-color:yellow;
}